<p class="module-summary"> <a href="/web/courses/module"><i class="fas fa-folder-open"></i> module 1: Lorem ipsum dolor sit amet</a></p>
<p class="article-title"><a href="/web/courses/document/text"><i class="fas fa-file-alt"></i> Phasellus non massa sit amet velit mattis sagittis</a></p>
<p class="article-title"><a href="/web/courses/document/text"><i class="fas fa-file-alt"></i> Nam at ex tempus, ultricies tortor sed</a></p>
<p class="article-title"><a href="/web/courses/document/video"><i class="fas fa-file-video"></i> Aliquam eu risus non erat</a></p>
<p class="article-title"><a href="/web/courses/document/pdf"><i class="far fa-file-pdf"></i> Sed scelerisque nisi sit amet</a></p>
<p class="article-title"><a href="/web/courses/document/text"><i class="fas fa-file-alt"></i> Nulla ac magna a erat rutrum</a></p>
<p class="article-title"><a href="/web/courses/exam"><i class="fas fa-tasks"></i> Test 1<a></p>
<p class="module-summary"><a href="/web/courses/module"><i class="fas fa-folder-open"></i> module 2: Duis commodo ex</a></p>
<p class="article-title"><a href="/web/courses/document/video"><i class="fas fa-file-video"></i> Vestibulum ornare ipsum eget</a></p>
<p class="article-title"><a href="/web/courses/document/text"><i class="fas fa-file-alt"></i> Suspendisse tincidunt dolor sed nunc</a></p>
<p class="article-title"><a href="/web/courses/document/text"><i class="fas fa-file-alt"></i> Sed vitae nisi sed turpis venenatis</a></p>
<p class="article-title"><a href="/web/courses/document/pdf"><i class="far fa-file-pdf"></i> Maecenas eget sem ut ipsum</a></p>
<p class="article-title"><a href="/web/courses/document/text"><i class="fas fa-file-alt"></i> Etiam mollis odio vitae consectetur</a></p>   
<p class="article-title"><a href="/web/courses/exam"><i class="fas fa-tasks"></i> Test 2</a></p>

            