<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"> 
    <title>Document</title>
</head>
<body>

    {{!--we need use blocks and user extends constantly --}}
    <div class="main">
    <header>
           {{> navbar }}
    </header>
    <main class="container">
        <!-- Left sidebar -->
         <aside class="sidebar">
            <h3>Categories</h3>
        </aside> 

        <!-- Main content -->
        <article>
            {{{ body }}}
        </article>

    
    </main>
   <footer>
        School Footer - Welcome
    </footer> 
</div>

   
    
    

</body>
</html>
