<h2 class="text-primary text-center">Course name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p class="module-summary"><i class="fas fa-folder-open"></i> module 1: Lorem ipsum dolor sit amet</p>
            <p class="article-title"><i class="fas fa-file-alt"></i> Phasellus non massa sit amet velit mattis sagittis</p>
            <p class="article-title"><i class="fas fa-file-alt"></i> Nam at ex tempus, ultricies tortor sed</p>
            <p class="article-title"><i class="fas fa-file-video"></i> Aliquam eu risus non erat</p>
            <p class="article-title"><i class="far fa-file-pdf"></i> Sed scelerisque nisi sit amet</p>
            <p class="article-title"><i class="fas fa-file-alt"></i> Nulla ac magna a erat rutrum</p>
            <p class="module-summary"><i class="fas fa-folder-open"></i> module 2: Duis commodo ex</p>
            <p class="article-title"><i class="fas fa-file-video"></i> Vestibulum ornare ipsum eget</p>
            <p class="article-title"><i class="fas fa-file-alt"></i> Suspendisse tincidunt dolor sed nunc</p>
            <p class="article-title"><i class="fas fa-file-alt"></i> Sed vitae nisi sed turpis venenatis</p>
            <p class="article-title"><i class="far fa-file-pdf"></i> Maecenas eget sem ut ipsum</p>
            <p class="article-title"><i class="fas fa-file-alt"></i> Etiam mollis odio vitae consectetur</p>   

        </div>
        <div class="col-md-4">
            
            <p>Detalles del curso</p>

            
            
            <p>Si no estas registrado, click en register</p>
            <a href="/web/courses/register" class="btn btn-primary">Register</a>

            
            <p>Si estas registrado, click en join</p>
            <a href="/web/courses/document/text" class="btn btn-primary">Join</a>
        </div>
    </div>
</div>
