<h2 class="text-primary text-center">Course name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p class="module-summary">module 1 ...</p>
            <p class="article-title">article 1 ...</p>
            <p class="article-title">article 2 ...</p>
            <p class="article-title">article 3 ...</p>
            <p class="article-title">article 4 ...</p>
            <p class="article-title">article 5 ...</p>
            <p class="module-summary">module 2 ...</p>
            <p class="article-title">article 1 ...</p>
            <p class="article-title">article 2 ...</p>
            <p class="article-title">article 3 ...</p>
            <p class="article-title">article 4 ...</p>
            <p class="article-title">article 5 ...</p>     

        </div>
        <div class="col-md-4">
            
            <p>Detalles del curso</p>

            
            
            <p>Si no estas registrado, click en register</p>
            <a href="/web/courses/register" class="btn btn-primary">Register</a>

            
            <p>Si estas registrado, click en join</p>
            <a href="/web/courses/document/text" class="btn btn-primary">Join</a>
        </div>
    </div>
</div>
