<h2 class="text-primary text-center">Course name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            
            <h1>PDF Example with iframe</h1>
            <iframe src="https://www.w3docs.com/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf" width="100%" height="500px">
            </iframe>

        </div>
        <div class="col-md-4">
            {{> course-content }}
        </div>
    </div>
</div>
