<h2 class="text-primary text-center">Course name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>    

        </div>
        <div class="col-md-4">
            {{> course-content }}
        </div>
    </div>
</div>
