<h2 class="text-primary text-center">Cursos</h2>

<div class="container">
<div class="row">

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor sit? Voluptatibus ipsum, mollitia accusamus corporis commodi facilis dolor voluptatem doloremque!</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe adipisci </div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa saepe adipisci eum assumenda quis ratione quaerat odit, odio placeat dignissimos?</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

</div>
</div>