<h2 class="text-primary text-center">Course name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nisi totam odio possimus quis. Obcaecati eligendi quia commodi dignissimos, ut, sequi quasi placeat optio corporis asperiores itaque blanditiis? Ab, quidem.</p>    

        </div>
        <div class="col-md-4">
            <p class="module-summary"> <a href="/web/courses/module"> module 1 ...</a></p>
            <a class="article-title"><a href="/web/courses/document/text">article 1 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/text">article 2 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/video"></a>article 3 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/pdf"></a>article 4 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/text"></a>article 5 ...</a></p>
            <p class="module-summary"><a href="/web/courses/module"></a>module 2 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/video"></a>article 1 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/text"></a>article 2 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/text"></a>article 3 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/pdf"></a>article 4 ...</a></p>
            <p class="article-title"><a href="/web/courses/document/text"></a>article 5 ...</a></p>   
        </div>
    </div>
</div>
