<h2 class="text-primary text-center">Course name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/xcJtL7QggTI" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>

        </div>
        <div class="col-md-4">
            {{> course-content }}
        </div>
    </div>
</div>
