<h2 class="text-primary text-center">Categorias</h2>

<div class="container">
<div class="row">
<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title"><a href="/web/courses/">Category name</a></div>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title"><a href="/web/courses/">Category name</a></div>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title"><a href="/web/courses/">Category name</a></div>
    </div>
</div>

<div class="card" style="width: 150px">
    <img src="https://via.placeholder.com/150" class="card-img-top" />
    <div class="card-body">
        <div class="card-title"><a href="/web/courses/">Category name</a></div>
    </div>
</div>

<div class="card" style="width: 150px">
    <img src="https://via.placeholder.com/150" class="card-img-top" />
    <div class="card-body">
        <div class="card-title"><a href="/web/courses/">Category name</a></div>
    </div>
</div>

<div class="card" style="width: 150px">
    <img src="https://via.placeholder.com/150" class="card-img-top" />
    <div class="card-body">
        <div class="card-title"><a href="/web/courses/">Category name</a></div>
    </div>
</div>

<div class="card" style="width: 150px">
    <img src="https://via.placeholder.com/150" class="card-img-top" />
    <div class="card-body">
        <div class="card-title"><a href="/web/courses/">Category name</a></div>
    </div>
</div>

</div>

Pagination Here

</div>

<h2 class="text-primary text-center">Top Recommended Courses</h2>

<div class="container">

<div class="row">
<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor sit eum  odio placeat dignissimos? Voluptatibus ipsum, mollitia accusamus corporis commodi facilis dolor voluptatem doloremque!</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor sit amet odio placeat dignissimos? Voluptatibus ipsum, mollitia accusamus corporis commodi facilis dolor voluptatem doloremque!</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/200" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor sit amet odit, odio placeat dignissimos? Voluptatibus ipsum, mollitia accusamus corporis commodi facilis dolor voluptatem doloremque!</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

</div>
</div>