
<div class="row">
    <div class="col-md-3">
        <!-- Left sidebar -->
        <aside class="sidebar">
            <h3>Categories</h3>

            <h5>Programacion</h5>
            <h5>Diseño</h5>
            <h5>Matematicas</h5>
            <h5>Base de datos</h5>
            <h5>Ciencias</h5>
            <h5>Arte y literatura</h5>
        </aside>
    </div>

    <div class="col-md-9">

        <!-- Main content -->
        <article class="content">
            <h2 class="text-primary text-center">Hello world.</h2>
        </article>
    </div>

</div>