<h2 class="text-primary text-center">Results of your search..</h2>
<div class="container">

    Filtros de busqueda..

    <hr />
<div class="row">

    

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/150" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor  quaerat odit, odio placeat dignissimos? Voluptatibus ipsum, mollitia accusamus corporis commodi facilis dolor voluptatem doloremque!</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/150" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor sit amet  placeat dignissimos? Voluptatibus ipsum, mollitia accusamus corporis commodi facilis dolor voluptatem doloremque!</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

<div class="card" style="width: 200px">
    <img src="https://via.placeholder.com/150" class="card-img-top" />
    <div class="card-body">
        <div class="card-title">Course name</div>
        <div class="card-text">Lorem ipsum dolor  Voluptatibus ipsum, mollitia accusamus corporis commodi facilis dolor voluptatem doloremque!</div>
        <a href="/web/courses/details" class="btn btn-primary">Ver info...</a>
    </div>
</div>

</div>
</div>