.main {
    display: flex;
    flex-direction: column;
}

.container {

    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.content {
    flex-grow: 1;
}

.sidebar {
    width: 25%;
}

.nav {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    margin-left: auto;
}